body {
  width: 50%;
  margin-left: auto; /* auto on the margins centers the element */
  margin-right: auto;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  background-color: rgb(230, 224, 213);
}

h1 {
  font-family: Cambria, Georgia, serif;
  color: #462600
}

h3 {
  color: #715537;
}

h4 {
  color: #715537;
}

.sectionheader {
  /* text-align: center makes all text inside element center-aligned */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 5px;
  border-bottom: 1px solid #a7610c;
}

.header {
  text-align: center;
  border-bottom: 1px solid #a7610c;
}

.quote {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.1em; /* 1.1 times the regular font size of the element */
  font-style: italic;
  color: #b9ada0;
}

.intro {
  color: #5c462e;
}

img {
  max-width: 100%;
  max-height: 300px; /* make sure image is never exteremely tall */
}

.song-label {
  color: #5c462e;
}

.subheader {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  color: #715537;
}

ul {
  font-family: 'Courier New', monospace;
  color: #70471c;
}

table {
  border: 1px dashed #112418;
  border-collapse: collapse; /* makes it so that borders are not duplicated */
}

td {
  border: 1px dashed #341d00;
  padding: 5px;
  color: #3d2c16;
}

.center {
  text-align: center;
}

/* This selector applies to any table elements within any element
   that is of the class center */
.center > table {
  margin-left: auto;
  margin-right: auto;
}

a:visited {
  color: a7610c;
  text-decoration: none;
}